<ion-app>
  <ion-menu #menu side="start" menuId="menu-principal" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="navegar('/biometrico')">
          Huella Digital
        </ion-item>
        <ion-item (click)="navegar('/formulario')">
          Formulario
        </ion-item>
        <ion-item (click)="navegar('/github')">
          Github
        </ion-item>
        <ion-item (click)="navegar('/localstorage')">
          LocalStorage
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>