<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Local Storage Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Clave</ion-label>
    <ion-input [(ngModel)]="key"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Valor</ion-label>
    <ion-input [(ngModel)]="value"></ion-input>
  </ion-item>

  <ion-button (click)="setItem()">Establecer</ion-button>
  <ion-button (click)="getItem()">Recuperar</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item.key }}</ion-label>
      <ion-textarea [(ngModel)]="item.value"></ion-textarea>
      <ion-button slot="end" (click)="updateItem(item)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button slot="end" (click)="deleteItem(item)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>